    .videotui{
        width: 100%;
        align-items: center;
    }

@media screen and (min-width: 1180px){
    body{
        background: lemonchiffon;
    }
    #Titel{
        background-color: 7C7878;
        text-align: center;
        width: 100%;
    }
        #imageLogo{
            padding: 0px; 
            margin-top: 15px;
            margin-left: 30;
            float: left;
        }
        #hamnav{
            width: 100%;
            background: none;
            text-align: right;
            margin-top: -0px;
            margin-left: -17;
            margin-right: 8;
        }
        #hamnav label, #hamburger{display: none;}
        
        #hamitems{
            display: flex;
            list-style: none;
        }
            
        #hamitems a{
        padding: 10px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        flex-grow: 1;
        flex-basis: 0;
        }
        
        #hamitems a:hover {background: #A0BCE0;}
        
        #hamitems a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid #333;
        }
        
        #hamnav label{
            display: inline-block;
            color: #fff;
            font-size: 1.9em;
            font-style: normal;
            background: #A0BCE0;
            padding: 8px;
        }
        
        #hamitems {display: none;}
        
        #hamnav input:checked ~ #hamitems {display: block;}

#headerHomepage{
    display: flex;
    background-color: #A0BCE0;
        color: rgb(255, 255, 255);
    }

.greyBackgroundBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #eee;
	text-align: left;
    width: 80%;
}

.tekst
{
    display: block;
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-top: 0%;
}

.Right {
    float: left;
    margin-left: 5%;
    margin-bottom: 0;
    margin-top: 0;
    display: block;
    border: 1px solid #999;
}
.moreInfo{
    margin-bottom: 5%;
    width: 50%;
    float: right;
    margin-left: 5%;
    display: block;
}
.Head4{
    text-align: center;
}
.Aside2{
    display: flex;
    background-color: #eee;
    width: 18%;
    height: 60%;
    float: right;
    
}
#headAside2{
    text-align: center;
    width: 88%;
}
.oList2{
    display: table;
    margin: 0 auto;
    text-align: center;
}
.Aside{
    display: none;
}
#headAside{
    display: none; 
}
.oList{
    display: none;
}

}

@media screen and (min-width: 481px)
and (max-width: 1179px){
    body{
        background: lemonchiffon;
    }
    #Titel{
        background-color: 7C7878;
        text-align: center;
        width: 100%;
    }
        #imageLogo{
            padding: 0px; 
            margin-top: 15px;
            margin-left: 30;
            float: left;
        }
        #hamnav{
            width: 100%;
            background: none;
            text-align: right;
            margin-top: -0px;
            margin-left: -17;
            margin-right: 8;
        }
        #hamnav label, #hamburger{display: none;}
        
        #hamitems{
            display: flex;
            list-style: none;
        }
            
        #hamitems a{
        padding: 10px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        flex-grow: 1;
        flex-basis: 0;
        }
        
        #hamitems a:hover {background: #A0BCE0;}
        
        #hamitems a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid #333;
        }
        
        #hamnav label{
            display: inline-block;
            color: #fff;
            font-size: 1.9em;
            font-style: normal;
            background: #A0BCE0;
            padding: 8px;
        }
        
        #hamitems {display: none;}
        
        #hamnav input:checked ~ #hamitems {display: block;}
#headerHomepage{
    display: flex;
    background-color: #A0BCE0;
    color: rgb(255, 255, 255);
    }
.greyBackgroundBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #eee;
	text-align: left;
}

.tekst
{
    display: block;
    float: right;
    width: 40%;
    margin-right: 5%;
    
}

.Right {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    display: block;
    border: 1px solid #999;
}
.moreInfo{
    margin-top: -5%;
    margin-bottom: 5%;
    width: 40%;
    float: left;
    margin-left: 5%;
    display: block;
}
.Head4{
    text-align: center;
}

.Aside{
    background-color: #eee;
    width: 100%;

}
#headAside{
    text-align: center;
}
.oList{
    display: table;
    margin: 0 auto;
}
.Aside2{
    display: none;
}
#headAside2{
    display: none; 
}
.oList2{
    display: none;
}

}

@media screen and (max-width: 480px){
    body{
        background: lemonchiffon;
    }
    #Titel{
        background-color: 7C7878;
        text-align: center;
        width: 100%;
    }
        #imageLogo{
            padding: 0px; 
            margin-top: 15px;
            margin-left: 30;
            float: left;
        }
        #hamnav{
            width: 100%;
            background: none;
            text-align: right;
            margin-top: -0px;
            margin-left: -17;
            margin-right: 8;
        }
        #hamnav label, #hamburger{display: none;}
        
        #hamitems{
            display: flex;
            list-style: none;
        }
            
        #hamitems a{
        padding: 10px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        flex-grow: 1;
        flex-basis: 0;
        }
        
        #hamitems a:hover {background: #A0BCE0;}
        
        #hamitems a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid #333;
        }
        
        #hamnav label{
            display: inline-block;
            color: #fff;
            font-size: 1.9em;
            font-style: normal;
            background: #A0BCE0;
            padding: 8px;
        }
        
        #hamitems {display: none;}
        
        #hamnav input:checked ~ #hamitems {display: block;}
#headerHomepage{
    display: flex;
    background-color: #A0BCE0;
    color: rgb(255, 255, 255);
    }

.greyBackgroundBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #eee;
	text-align: left;
}

.tekst
{
    margin-left: 5%;
    display: block;
    width: 90%;
}

.Right {
    width: 90%;
    margin-left: 5%;
    display: block;
    border: 1px solid #999;
}
.moreInfo{
    margin-bottom: 5%;
    width: 90%;
    margin-left: 5%;
    align-items: center;
    display: block;
}
.Head4{
    text-align: center;
}
.Aside{
    background-color: #eee;
    width: 100%;
}
#headAside{
    text-align: center;
}
.oList{
    display: table;
    margin: 0 auto;
}
.Aside2{
    display: none;
}
#headAside2{
    display: none; 
}
.oList2{
    display: none;
}
}

.Footer{
    display: flex;
    background-color: #454D56;
    color: #FFF;
    width: 100%;
}

#footerCopy{
width: 100%;
text-align: left;
margin-left: 5%;
}

.Footer2{
    float: right;
    background-color: #FA0;
    opacity: 50%;
    color: #FFF;
    width: 10em;
    bottom: 0px;
    right: 0px;
    position: fixed;
}

.footerCookie{
width: 100%;
text-align: center;
z-index: 9999;
}






